    body{
        background-color:black;
        
    }
    section{
        background-color:bisque;
    }
    label{
        width: 100%;
    }
    td {
        font-size: calc(.85rem + 1vw);
        padding: calc(.2em + .1vw);
        padding-bottom: calc(.3 + .25vw);
    }
    /* html, body { overflow-x: hidden; } */
    #topper.home{
        padding-left: 0;
    }
    #contactus {
        background: #fff;
        text-align: center;
        padding: 4.5em .5em 4.5em .5em;
        margin-bottom: 0;
    }
    #about-us {
        margin: 0 0 0 0;
        padding: 1em 0 1em 1em;
    }
    #faq {
        padding-right: 0;
        padding-left: 0;
    }
    #media-bar{
        padding-left: 0;
        padding-right: 0;
        justify-content: center;
    }
    #facebook {
        width: 320px;
        margin: auto;
        padding-bottom: 1em;
    }
    #map{
        width:100%;
    }
    #header {
		position: relative;
		background-image: url("/img/pic01.jpg");
		background-size: cover;
		background-position: center center;
		background-attachment: fixed;
		color: #fff;
		text-align: center;
		padding: 7.5em 0 2em 0;
		cursor: default;
	}
    @media only screen and (min-width: 768px) {
        #facebook{
            width: 245px;
            margin:0;
        }

    }
    @media only screen and (min-width: 992px){

        #facebook{
            width: 325px;
        }
    }
    @media only screen and (min-width: 1200px) {
        #facebook {
            width: 385px;
        }

    }
    
    @media only screen and (min-width: 1400px){
        #facebook{
            width: 445px;
        }

    }
    .card-body{
        -webkit-box-shadow: 0px 10px 13px -7px #000000, 50px 50px 0px 50px rgba(0,0,0,0); 
box-shadow: 0px 10px 13px -7px #000000, 50px 50px 0px 50px rgba(0,0,0,0);
border-radius: 3px;
    }
    .card{
background: #E6E6BE;
background: -moz-linear-gradient(top, #E6E6BE 0%, #1C6EA4 51%, #BEBEE6 100%);
background: -webkit-linear-gradient(top, #E6E6BE 0%, #1C6EA4 51%, #BEBEE6 100%);
background: linear-gradient(to bottom, #E6E6BE 0%, #1C6EA4 51%, #BEBEE6 100%);
border-radius: 3px;
    }
    .col-sm-4.beta-menu-item {
        padding-right: 5px;
        padding-left: 5px;
        padding-bottom: 10px;
    }
    .no-pad{
        padding-right: 0;
        padding-left: 0;
    }
    .row {
        padding-left: 0;
        padding-right: 0;
    }
    .container {
        padding-left: 0px;
        padding-right: 0px;
    }

    .menu{
        min-width: 100px;
    }
    .sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
    }
	.addon {
		color: rgba(102, 102, 102, 0.904);
		font-size: calc(.8rem + 1vw);
        font-weight: 500;
	}
    .food-cat{
        font-size:calc(1.5rem + 1vw);
        font-weight: bold;
        padding-bottom:calc(.125em + 1vw);
        padding-top: calc(.125em + 1vw);
        justify-content:center;
    }
    .food-item{
        font-size:calc(1.5rem + 1vw);
        padding-bottom:calc(.125em + 1vw);
        padding-top: calc(.125em + 1vw);
        justify-content:center;
    }
    .body-text{
        font-size:calc(1rem + 1vw);
        padding-bottom:calc(.125em + 1vw);
        padding-top: calc(.125em + 1vw);
    }


.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 30px;
    padding-left: 30px;
}

    .navbar-brand {
        font-size: calc(2rem + 1vw);
        padding: calc(.2em + .1vw);

    }
    .table-header {
        font-size:calc(1.25rem + 1vw);
        font-weight: bold;

        padding-top: calc(.125em + 1vw);
    }

    .table-item {
    font-size: calc(.95rem + 1vw);
    font-weight: bolder;
    }
    .center {
        margin:auto;
        }

/* 
@media (min-width: 481px) and (max-width: 767px) {
    td li a{
    font-size:20px;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    td li a{
    font-size:26px;
    }
}

@media (min-width: 980px) {
  td li a{
  font-size:30px;
  }
} */